<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>Social media</p>
        <ul class="social-media-list">
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="copy">
    <div class="wrapper">&copy;2016 Travel to Japan Concierge</div>
  </div>
</footer>
